html, body {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    display: flex;
    flex-direction: column;
    border: 15px solid black;
    width: 30%;
    height: 80%;
    background-color: black;
}

.screen {
    flex: .25;
    background-color: lightgrey;
    margin: 15px;
    font-size: 70px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    border: 0;
    padding: 0;
    flex: .75;
}

button {
    flex-basis: 25%;
    border-radius: 5px;
    font-size: 30px;
}

.zero {
    flex-basis: 50%;
}

.number {
    background-color: green;
}

.blue {
    background-color: lightseagreen;
}

.orange {
    background-color: orange;
}