html, body {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    display: flex;
    flex-direction: column;
    border: 3px solid black;
    width: 30%;
    height: 80%;
}

.screen {
    flex: .25;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    border: 0;
    padding: 0;
    flex: .75;
}

button {
    flex-basis: 25%;
}

.zero {
    flex-basis: 50%;
}